<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div{
            text-align: center;
            margin: 0 auto;
            margin-top: 50px;
            background-color: orange;
            height: 400px;
            width: 400px;
            border-radius: 200px;
            position: relative;
        }
        h1{
            line-height: 400px;
        }
    </style>
</head>
<body>
    <a href="{{ url_for('blog.index') }}"><h2>返回博客</h2></a>
    <div>
    <h1>别点啦！前端小姐姐还没做出来！</h1>
    </div>

</body>
</html>